@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    width: 575px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.new-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(36, 36, 36);
    width: 143.75px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 7.5px;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.new-game:hover {
    background-color: rgb(63, 63, 63, 0.6);
    cursor: pointer;
}

.main-console {
    display: flex;
    justify-content: center;
    background: rgb(36, 36, 36);
    width: 575px;
    height: 385px;
    gap: 100px;
    border: 0px solid #9aabd8;
    border-radius: 10px;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.second-console {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 17px;
    background: rgb(36, 36, 36);
    ;
    width: 575px;
    height: 75px;
    border: 0px solid #9aabd8;
    border-radius: 10px;
    margin-top: 7.5px;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.period-container {
    background-color: #080001;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-left: 20px;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.period-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f94f6d;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 30px;
    font-weight: 500;
    cursor: default;
    margin-top: 8px;
}

.time-container {
    background-color: #080001;
    width: 125px;
    height: 45px;
    border-radius: 10px;
    margin-left: 0px;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.time-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f94f6d;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 30px;
    font-weight: 500;
    cursor: default;
    margin-top: 8px;
}

.shot-container {
    background-color: #080001;
    width: 65px;
    height: 45px;
    border-radius: 10px;
    margin-left: 0px;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.shot-timer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f94f6d;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 30px;
    font-weight: 500;
    cursor: default;
    margin-top: 8px;
}

.stop-icon {
    background-color: #080001;
    width: 125px;
    height: 45px;
    border-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.stop-icon:hover {
    background-color: rgba(154, 171, 216, 0.05);
    cursor: pointer;
}

.stop-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c9cfe0;
    font-family: Verdana, sans-serif;
    font-size: 30px;
    font-weight: 600;
    cursor: default;
    margin-top: 4px;
    cursor: pointer;
}

.home-fouls {
    background-color: #080001;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.home-fouls:hover {
    background-color: rgba(46, 46, 46);
    cursor: pointer;
}

.home-fouls-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f94f6d;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 8px;
    cursor: pointer;
    user-select: none;
}

.away-fouls {
    background-color: #080001;
    width: 45px;
    height: 45px;
    border-radius: 10px;
    margin-left: 0px;
    cursor: pointer;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.away-fouls:hover {
    background-color: rgba(46, 46, 46);
    cursor: pointer;
}

.away-fouls-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f94f6d;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 8px;
    user-select: none;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #c9cfe0;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

h1:hover {
    cursor: pointer;
}

h3 {
    color: #c9cfe0;
    font-family: Verdana, sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 45px;
    cursor: default;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
    border-radius: 10px;
    width: 175px;
    background-color: #080001;
}

.home-score,
.guest-score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 130px;
    background-color: #080001;
    border: 0px solid #f94f6d;
    margin-top: 5px;
    padding-top: 20px;
    border-radius: 15px;
    cursor: default;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.home-text,
.guest-text {
    color: #f94f6d;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 110px;
    font-weight: 500;
    text-align: center;
    cursor: default;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 160px;
    margin-top: 30px;
}

.score-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border-radius: 5px;
    border: 0px solid #f94f6d;
    box-sizing: border-box;
    height: 45px;
    margin: 0 4px;
    background: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow:
        0 2px 4px 0 rgb(0 0 0 / 40%),
        0 2.5rem 5rem 0 rgb(0 0 0 / 20%);
}

.score-button-text {
    color: #f94f6d;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 20px;
    font-weight: 200;
    text-align: center;
    margin-top: 3px;
    cursor: pointer;
}

.score-button:hover {
    background-color: rgba(154, 171, 216, 0.05);
    cursor: pointer;
}

.score-button-text:active,
.score-button-text:focus,
.score-button-text:hover {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    color: #f94f6d;
}