:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  gap: 0rem;
}

#date-time-EU{
}
#date-time-US{
}

.display{
  display: hidden;
}

h3 {
  font-size: 1rem;
  margin: 0;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.micromodal {
  display: none;
}

.micromodal.is-open {
  display: block;
}

.micromodal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0,0,0,0.65);
}

.micromodal__container {
  box-sizing: border-box;
  overflow-y: auto;
  max-width: 500px;
  max-height: 100vh;
  padding: 30px;
  background-color: #fff;
  border-radius: 4px;
}

.micromodal__container p {
  color: black;
}

.micromodal[aria-hidden="false"] .micromodal__overlay {
  animation: microModalFadeIn .2s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal[aria-hidden="false"] .micromodal__container {
  animation: microModalSlideIn .2s cubic-bezier(0, 0, .2, 1);
}

.micromodal .micromodal__container,
.micromodal .micromodal__overlay {
  will-change: transform;
}

@keyframes microModalFadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes microModalSlideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

#EU, #US{
  cursor: pointer;
}

#EU:hover, #US:hover{
  text-decoration: underline;
}