html, body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
}

.container {
    /* background-color: beige; */
    width: 450px;
    margin: 50px auto;
    
}

.profile-container {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 15px;
    padding-top: 5px
    
}

.upload-container img{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    padding-bottom: 15px
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 12px;
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items:start;
    gap: 5px;
    padding: 15px 15px 25px 15px;
    border-bottom: 1.5px solid rgba(111, 110, 110, 0.25);
}

h1 {
    font-weight: 700;
    margin: 17px 0 0 0;
}

h2 {
    font-weight: 400;
    margin: 0;
}

p {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.comment {
    font-weight: 400;
}

.text-container {
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: 1.5px solid rgba(111, 110, 110, 0.25);
}

.logo {
    width: 125px;
    height: 70px;
    padding: 12px 0 12px 10px;
    object-fit: contain;
}

.avatar {
    width: 45px;
    height: 45px;
    border-radius: 50px;
    margin: 15px 0px 0px 15px
}

.icon-1,
.icon-2,
.icon-3 {
    width: 32.5px;
    height: 32.5px;
    object-fit: contain;
}